<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Diary</title>
</head>
<body>
    <h1 style="text-align:center">Nomadic Perambulations</h1>
    <p style="text-align:center">I've been everywhere, man.
    "I've been everywhere, man.
    Crossed the desert's bare, man.
    </p>
    <p style="text-align:center">
    I've breathed the mountain air, man.
    Of travel I've had my share, man.
    I've been everywhere."
</p>   
</body>
</html>