<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Job Board</title>
  <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>

<body>
  <div class="container">
  <div style="text-align: center">
    <h4 class="link"><a href="/places">See Perambulations</a></h4>
    <h4 class="link"><a href="/places/new">Add Somewhere Perambulated</a></h4>
  </div>
    @RenderBody()
  </div>
</body>
<html>

