<h3>Johnny Cash has been everywhere... where have you been, man?</h3>

<form action="/places" method="post">
    <label for="place">Enter your Perambulated Place:</label>
    <input id="place" name=place type="text">
    <label for="description">Enter Permabulation Description</label>
    <input id="description" name="description" type="text">
    <button type="submit"> Submit </button>
</form>