@using TravelDiary.Models;


<h1>@Model.CityName</h1>
<h2>@Model.Description</h2>


<h3><a href="/">Back to Home</a></h3>
<h3><a href="/places">See Perambulations</a></h3>
<h3><a href="/places/new">Add Somewhere Perambulated</a></h3>